* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  background-color: #f4f9f8;

  .aside-left {
    width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .navbar-brand {
      padding: 0 31px;
      display: flex;
      align-items: center;
      gap: 15px;
      .img {
        width: 29px;
        height: 35px;
      }
      .logo-title {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        color: #0768b5;
      }
    }

    .aside-left_menu {
      position: relative;
      cursor: pointer;
      border-radius: 0px 37px 37px 0px;
      display: flex;
      align-items: center;
      width: 243px;
      height: 50px;
      gap: 15px;
      padding-left: 31px;

      &:hover::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: #2f9ff8;
        border-radius: 100%;
        top: 40%;
        left: 5%;
      }

      &:hover {
        background: rgba(47, 159, 248, 0.1);
      }

      .bi {
        font-size: 24px;
      }

      &:hover .bi {
        color: #2f9ff8;
      }

      .menu-title {
        margin: 0;
        font-weight: 700;
        font-size: 15px;
      }

      &:hover .menu-title {
        color: #2f9ff8;
      }
    }

    .aside-left_covid {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 243px;
      height: 50px;
      gap: 15px;
      padding-left: 31px;
      border-top: 1px solid #a1afb9;
      border-bottom: 0.2px solid #a1afb9;

      .bi {
        font-size: 24px;
      }

      .menu-title {
        margin: 0;
        font-weight: 700;
        font-size: 15px;
      }
    }

    .card {
      background: #2f9ff8;
      border-radius: 4px;
      width: 227px;
      height: 113px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      & > * {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      .bi {
        font-size: 24px;
        color: #fff;
      }

      .card-title {
        font-weight: 400;
        font-size: 15px;
        color: #fff;
        margin: 0;
      }

      .card-sum {
        .sum-title {
          font-weight: 700;
          font-size: 30px;
          color: #ffffff;
          .title {
            font-weight: 400;
            font-size: 15px;
            color: #ffffff;
          }

          
        }
        .btn {
          width: 110px;
          height: 38px;
          background: #0768b5;
          border-radius: 4px;
          color: #fff;
          border: none;
        }

        .btn:focus {
          box-shadow: none;
        }
      }
    }
  }

  .main {
    width: 861px;
    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 0 45px;
      .form-inputs {
        position: relative;
        border-radius: 4px;
        background: rgba(47, 159, 248, 0.04);
        border-radius: 4px;
        width: 350px;
        height: 36px;
        .form-control {
          border-radius: 0px;
          background: transparent;
          border: none;
          &:focus {
            box-shadow: none;
          }
        }
        .icon {
          position: absolute;
          right: 10px;
          top: 15%;
          width: 18px;
          height: 18px;
        }
      }

      .navbar-items {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon-person {
          font-size: 24px;
        }
        .title {
          font-size: 15px;
          font-weight: 500;
          margin: 0;
        }
        .icon-arrow {
          width: 18px;
          height: 8px;
          margin-left: 25px;
        }
      }
    }
  }

  .aside-right {
    width: 319px;
  }
}
